<template name="sidebar">
  <div class="item">
    <div class="ui small inverted header">Channels</div>
    <div class="menu">
      <a class="item channel">General</a>
      <a class="item channel">Growth Platform</a>
    </div>
  </div>

  <div class="item">
    <div class="ui small inverted header">Direct Messages</div>
    <div class="menu">
      <a class="item channel">General</a>
      <a class="item channel">Growth Platform</a>
    </div>
  </div>

  <div class="item bottom">
    <div class="ui small inverted header">Rick Song</div>
  </div>
</template>
